body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;  
}

.card .card-header {
  background-color: rgba(5, 120, 173, 0.52); 
  border-color: rgba(5, 120, 173, 0.52);
}

.center {     
  padding-left: 10%; 
}


h5{
  color: #ffffff;  
}

/*login authedUser*/
.nav{
  margin-left:15px; 
}

/*btn login & logout*/
.btn {
  text-transform: uppercase;
  margin: auto;   
  cursor: pointer;  
  font-size: 16px;
  font-weight: bold;
  width: 200px;
  position: relative;
}

.btn-sm{  
  margin-left: 120px;
  position: relative;    
}

.active {
  font-weight: bold;
}


li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  align-items: center;
}

.login {
  margin-top:5%;
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

